body {
    background: #fbc832;
}
.icon {
    width: 49px;
    height: 49px;
    display: inline-block;
    background: linear-gradient(150.26deg, #ffe28f 6.75%, #ecbd37 91.17%);
    box-shadow: 3px 3px 13px #c18f00;
    border-radius: 100%;
    top: 200px;
    left: 300px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3122 1.21896C29.5218 0.515712 29.3122 0 28.3211 0H25.0379C24.2025 0 23.8207 0.446144 23.6111 0.936146C23.6111 0.936146 21.9418 5.04823 19.5764 7.7145C18.8128 8.49034 18.464 8.73534 18.0478 8.73534C17.8397 8.73534 17.5373 8.49034 17.5373 7.78709V1.21896C17.5373 0.375063 17.2963 0 16.6001 0H11.441C10.92 0 10.6056 0.390187 10.6056 0.762225C10.6056 1.56075 11.7883 1.74525 11.9096 3.99563V8.8775C11.9096 9.94673 11.7195 10.1418 11.3003 10.1418C10.1879 10.1418 7.48112 6.01462 5.87471 1.29004C5.56181 0.372039 5.24592 0.00151296 4.40753 0.00151296H1.12584C0.18714 0.00151296 0 0.447656 0 0.937658C0 1.81785 1.11236 6.17342 5.18154 11.934C7.89433 15.8676 11.7135 18 15.1928 18C17.2783 18 17.5358 17.5266 17.5358 16.71V13.7367C17.5358 12.79 17.7349 12.5994 18.3951 12.5994C18.8802 12.5994 19.7156 12.8474 21.6634 14.7424C23.8881 16.9897 24.2564 17.9985 25.5065 17.9985H28.7882C29.7254 17.9985 30.194 17.5251 29.9245 16.5905C29.6295 15.6604 28.5666 14.3068 27.1563 12.7053C26.3898 11.7918 25.2445 10.8088 24.8956 10.3173C24.4091 9.68358 24.5498 9.4038 24.8956 8.8412C24.8971 8.84272 28.896 3.15325 29.3122 1.21896Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
}
.icon::before {
    content: "";
    z-index: -1;
    left: -7px;
    top: -7px;
    bottom: -7px;
    right: -7px;
    background: red;
    border-radius: 100%;
    position: absolute;
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}

.icon:hover {
    background: url("data:image/svg+xml,%0A%3Csvg width='36' height='24' viewBox='0 0 36 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M32.3122 3.21896C32.5218 2.51571 32.3122 2 31.3211 2H28.0379C27.2025 2 26.8207 2.44614 26.6111 2.93615C26.6111 2.93615 24.9418 7.04823 22.5764 9.7145C21.8128 10.4903 21.464 10.7353 21.0478 10.7353C20.8397 10.7353 20.5373 10.4903 20.5373 9.78709V3.21896C20.5373 2.37506 20.2963 2 19.6001 2H14.441C13.92 2 13.6056 2.39019 13.6056 2.76223C13.6056 3.56075 14.7883 3.74525 14.9096 5.99563V10.8775C14.9096 11.9467 14.7195 12.1418 14.3003 12.1418C13.1879 12.1418 10.4811 8.01462 8.87471 3.29004C8.56181 2.37204 8.24592 2.00151 7.40753 2.00151H4.12584C3.18714 2.00151 3 2.44766 3 2.93766C3 3.81785 4.11236 8.17342 8.18154 13.934C10.8943 17.8676 14.7135 20 18.1928 20C20.2783 20 20.5358 19.5266 20.5358 18.71V15.7367C20.5358 14.79 20.7349 14.5994 21.3951 14.5994C21.8802 14.5994 22.7156 14.8474 24.6634 16.7424C26.8881 18.9897 27.2564 19.9985 28.5065 19.9985H31.7882C32.7254 19.9985 33.194 19.5251 32.9245 18.5905C32.6295 17.6604 31.5666 16.3068 30.1563 14.7053C29.3898 13.7918 28.2445 12.8088 27.8956 12.3173C27.4091 11.6836 27.5498 11.4038 27.8956 10.8412C27.8971 10.8427 31.896 5.15325 32.3122 3.21896Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='36' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.562795 0 0 0 0 0.364827 0 0 0 0 0 0 0 0 0.49 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            no-repeat center center,
        linear-gradient(
            150.26deg,
            #ffeaad 6.75%,
            #fce6a7 45.73%,
            #ffc726 91.17%
        );
    box-shadow: 3px 3px 13px #c18f00;
}

.icon:hover::before {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}
.icon:active {
    background: url("data:image/svg+xml,%0A%3Csvg width='40' height='28' viewBox='0 0 40 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M34.3122 6.21896C34.5218 5.51571 34.3122 5 33.3211 5H30.0379C29.2025 5 28.8207 5.44614 28.6111 5.93615C28.6111 5.93615 26.9418 10.0482 24.5764 12.7145C23.8128 13.4903 23.464 13.7353 23.0478 13.7353C22.8397 13.7353 22.5373 13.4903 22.5373 12.7871V6.21896C22.5373 5.37506 22.2963 5 21.6001 5H16.441C15.92 5 15.6056 5.39019 15.6056 5.76223C15.6056 6.56075 16.7883 6.74525 16.9096 8.99563V13.8775C16.9096 14.9467 16.7195 15.1418 16.3003 15.1418C15.1879 15.1418 12.4811 11.0146 10.8747 6.29004C10.5618 5.37204 10.2459 5.00151 9.40753 5.00151H6.12584C5.18714 5.00151 5 5.44766 5 5.93766C5 6.81785 6.11236 11.1734 10.1815 16.934C12.8943 20.8676 16.7135 23 20.1928 23C22.2783 23 22.5358 22.5266 22.5358 21.71V18.7367C22.5358 17.79 22.7349 17.5994 23.3951 17.5994C23.8802 17.5994 24.7156 17.8474 26.6634 19.7424C28.8881 21.9897 29.2564 22.9985 30.5065 22.9985H33.7882C34.7254 22.9985 35.194 22.5251 34.9245 21.5905C34.6295 20.6604 33.5666 19.3068 32.1563 17.7053C31.3898 16.7918 30.2445 15.8088 29.8956 15.3173C29.4091 14.6836 29.5498 14.4038 29.8956 13.8412C29.8971 13.8427 33.896 8.15325 34.3122 6.21896Z' fill='%23F2F2F2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='40' height='28' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.821128 0 0 0 0 0.606722 0 0 0 0 0 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            center center no-repeat,
        linear-gradient(
            150.26deg,
            #ffda71 6.75%,
            #ffcd40 43.24%,
            #fbc11b 91.17%
        );
    box-shadow: 2px 2px 6px #c18f00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}
.icon:active::before {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}
